@CHARSET "UTF-8";
a:LINK { text-decoration: none; color:blue; }
a:hover { text-decoration: underline; color:red; }
a:visited { text-decoration: none; }
a:active { text-decoration: none; color: yellow; }

table , th, td {
	border : 1px solid black;
}

.menu {
	border : none;
	width : 100%;
}
.menu td {
	border : none;
}
.menu .login {
	text-align : right;
}